*{
  border: 0px solid red;
  color: #111111;
}

html{
  scroll-behavior: smooth
}

#root {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body{
  background-color: rgb(239, 239, 239);
  padding-bottom: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold
}

header{
  width: 100%;
  color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(208, 208, 208);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#navbar{
  margin: 2em 0em;
}

#articles{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;;
}

.articleCard{
  width: 100%;
  max-width: 450px;
}

h1{
  letter-spacing: -2px;
}

#articleTopic{
  text-transform: uppercase;
  color:rgb(48, 48, 48);
  font-weight: normal;
  letter-spacing: -1px;
}

#articleCounts{
  display: flex;
  justify-content: space-between;
}

#postCommentContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.comment{
  background: white;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid rgb(208, 208, 208);
  margin-bottom: 1em;
}

@media only screen and (min-width: 600px) {
  #articles{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  .articleCard{
    width: 45%;
  }
}